{% extends "base.html" %}

{% block page_title %}Accounts{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        {% for account in object_list %}
            <div class="col-sm-4">
                <a class="text-dark" href="{% url 'account-view' account.pk %}">
                    <div class="card mb-3 shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{account.name}}</h5>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="pr-2">Balance</td><td>{% include "atomic/value.html" with value=account.balance %}</td>
                                    </tr>
                                    <tr>
                                        <td class="pr-2">Total</td><td>{% include "atomic/value.html" with value=account.total %}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </a>
            </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}